<button class="btn btn-primary"
(click)="toggleShowText($event)">Display Details</button>
<hr>
<p>Press Counter: </p>
    <p *ngFor="let item of count; let i = index"
        [ngClass]="{isOdd: isOdd(i)}"
    >{{item}}</p>
<hr>
<p *ngIf="showText">Lorem ipsum dolor sisdt amet, consectetur ad ipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis eget nunc lobortis mattis. Ullamcorper sit amet risus ullam eget felis eget nunc lobortis. Lobortis mattis aliquam faucibus urus. Elit pellentesque habitant morbi tristique senectus. In ante metus dictum at tempor commodo ullamcorper a lacus. Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. </p>
<hr>

